**/.vscode
# MacOS
.DS_Store
# Notebook
.ipynb_checkpoints/
**/__pycache__/
*.egg-info/
*~*
**/FashionMNIST/
**/mnist/
*.p
/notebooks/drive-download-20240607T124412Z-001/
**/tensorboard/
**/lightning_logs/
**/dropout_logs/
**/batch_norm_logs/